/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-width : 320px) and (max-width : 480px) {
    .questionBlock { width:95% }
}


@media only screen 
and (min-width : 481px) and (max-width : 768px) {
    .questionBlock { width:45% }
}

/* Laptop and desktop */
@media only screen 
and (min-width : 768px) {
    #mainContainer { width:60%; margin: 40px 3% auto 10px; float:left;  }
    .questionBlock { width:45% } 
    #sideContainer { display: inline-block;}
}

/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-width : 768px) and (max-width : 1024px) {
    
}

/* Laptop and desktop */
@media only screen 
and (min-width : 1024px) {
    
}





/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
    .questionBlock { width:95% }
}

/* Smartphones (landscape) ----------- */
@media only screen 
and (min-width : 321px) {
    
}

/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 320px) {
/* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-width : 768px) 
and (max-width : 1024px) {
    
}

/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
/* Styles */
}

/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
/* Styles */
}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {
/* Styles */
}

/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {
/* Styles */
}
